botoy
pydantic==1.10.13
apscheduler
aiofiles
numpy
Pillow==9.5.0
pytz
python-dateutil
requests
wordcloud
jinja2==3.0.3
werkzeug==1.0.1
jieba
paddlepaddle
croniter
atproto
google-api-python-client
bilibili-api-python
aiohttp
curl_cffi
twikit==1.7.6